<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-button href="/tabs/home">
        <ion-icon slot="icon-only" src="../../assets/icons/house-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label class="main-logo">{{ title }}</ion-label>
    <ion-buttons slot="secondary">
      <ion-button href="/tabs/settings">
        <ion-icon slot="icon-only" src="../../assets/icons/tools.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>