<app-header [title]="'SETTINGS'"></app-header>
<ion-content padding>
  <ion-list *ngIf="mainUserService.user">
    <ion-item>
      <ion-label position="stacked">
        <h2>Change Id</h2>
        <p>Current - {{ mainUserService.user.id }} </p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="toggleIdInput()">
        <ion-text *ngIf="!canEnterNewId">
          Update
        </ion-text>
        <ion-text *ngIf="canEnterNewId">
          Close
        </ion-text>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Privacy Policy</ion-label>
      <a target="_blank" href="https://www.privacypolicies.com/privacy/view/5aab9410c306ad31ac1853eeeebe6b6a">
        <ion-button color="danger">VIEW</ion-button>
      </a>
    </ion-item>
  </ion-list>
</ion-content>

<div class="settings__input__container" *ngIf="canEnterNewId">
  <ion-input [(ngModel)]="newID" type="number" placeholder="Enter new Id..."></ion-input>
  <ion-button color="danger" slot="end" (click)="updateId(newID)">Update</ion-button>
</div>