<ion-tabs>

  <ion-tab-bar color="light" slot="bottom">
    <ion-tab-button tab="team">
      <ion-icon src="../../assets/icons/soccer-jersey.svg"></ion-icon>
      <ion-label>

        <ion-text color="danger">
          TEAM
        </ion-text>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leagues">
      <ion-icon src="../../assets/icons/trophy.svg"></ion-icon>

      <ion-label>
        <ion-text color="danger">
          LEAGUES
        </ion-text>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="../../assets/icons/house-outline.svg"></ion-icon>
      <ion-label>
        <ion-text color="danger">
          HOME
        </ion-text>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>
        <ion-text color="danger">
          STATS
        </ion-text>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="paper"></ion-icon>
      <ion-label>
        <ion-text color="danger">
          NEWS
        </ion-text>
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>